*{
  body{
    background-color: #f5f6f7;
  }
  .main{
    background-color: #fefefe;
  }
  .nuxt-link{
    color: #333;
    &:hover{
      color: #000;
      text-decoration: none;
    }
  }
  .list-item{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
  }
}
