*{
  box-sizing: border-box;
  body{
    background-color: #fff;
    font-family: 'Source Sans Light', 'Apple LiSung Light', 'STHeiti Light', 'SimSun', sans-serif;
    color: #2f2f2f;
    margin: 0;
  }
  .lists{
    background-color: #f9f9f9;
    min-height: 100vh;
  }
  .main{
    max-width: 980px;
    padding: 80px 20px 50px;
    margin: 0 auto !important;
  }
  .nuxt-link{
    color: #333;
    &:hover{
      color: #000;
      text-decoration: none;
    }
  }
  .el-pagination.is-background .el-pager li:not(.disabled).active{
    background-color: #29B4F0 !important;
  }
  .list-item{
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
    color: #333;
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
    .list-item-left{
      flex-grow: 1;
      padding: 10px;
      box-sizing: border-box;
      height: 180px;
      .list-item-title{
        color: #29B4F0;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 5px;
        text-decoration: none;
        &:hover{
          color: #008fb5;
        }
      }
      .list-item-info{
        font-size: 12px;
        color: #ccc;
        padding-bottom: 10px;
        border-bottom: 1px dotted #ccc;
      }
      .list-item-abstract{
        font-size: 16px;
        color: #666;
        padding-top: 10px;
        display:-webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .list-item-btn{
        font-size: 12px;
        padding: 5px;
        background-color: #29B4F0;
        color: #fff;
        float: right;
        border-radius: 3px 5px;
        margin-top: 5px;
      }
    }
    .list-item-right{
      flex-grow: 0;
      margin-left: 10px;
      img{
        display: block;
        width: 250px;
        height: 180px;
        border-radius: 5px;
        object-fit: cover;
      }
    }
    &:last-child{
      border: none;
    }
  }
  .pagination-container{
    display: flex;
    justify-content: center;
  }
  .article-title{
    color: #555;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
  }
  .article-content{
    p{
      text-indent: 34px;
      font-size: 18px;
      img{
        display: block;
        max-width: 100%;
        margin: 20px auto;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .list-item-right{
    display: none;
  }
}
